/*

siquoia sequoia whatever man

body {
	background: white url("images/SQlogo.png") no-repeat right top;
}


*/

body {
  font-family: "Verdana", Serif;
  /* background-color: #202020; */
  color: #222222;
  background: white url("images/SQlogo.png") no-repeat right top;
  background-size: 10%;
  /* background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/2wBDAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/wAARCAABAAIDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD+Te0/49LX/r3h/wDRa0UUUAf/2Q==); */
}

h1 {
  color: #111111;
  width: 50%;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}

h2 {
  color: #A0A0A0;
  font-size: small;
  font-weight: normal;
  display: inline;
  margin-top: 0px;
}

h2:before {
  content: " >> ";
}

a {
  color: #9933CC;
  text-decoration: none;
  border-bottom: 3px double #9933CC;
}

h2 > a {
  color: #A0A0A0;
  text-decoration: none;
  border-bottom: 0px;

}

a:hover {
  color: #FF2200;
  border-bottom: 3px double #FF2200;
}

a:active {
  color: #99FF00;
  border-bottom: 3px double #99FF00;
}

input {
  background: #BFBFBF;
  color: #4F4F4F;
  border: 3px double #333333;
  border-radius: 5px;
  font-size: large;
  margin: 4px;
}

input[type="text"], input[type="password"]{
  font-family: Courier, Monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 5px;
  background-color: #202020;
  color: #A0A0A0;
  width: 50%;
}

th {
  background-color: #CFCFCF;
  color: black;
}

td, th {
  border: 3px double #333333;
  border-radius: 5px;
}

td {
  text-align: right;
}

label {
  display: block;
}
