<!doctype html>
<html>
<head>
  <title>SiQuoia</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" type="text/css" href="path/to/stylesheet" /> -->
</head>
<body>
<h1>Top Easiest Questions</h1>

{% if q_list %}

<table border='1'>
	<tr>
		<th>Question</th>
		<th>Attempted</th>
		<th>Marked Correct</th>
		<th>Marked Wrong</th>
	</tr>
	{% for q in q_list %}
	<tr>
		<td>{{ q.text }}</td>
		<td>{{ q.num_answered }}</td>
		<td>{{ q.num_marked_right }}</td>
		<td>{{ q.num_marked_wrong }}</td>
	</tr>
	{% endfor %}
</table>

{% else %}
	<p>No Questions</p>
{% endif %}
</body>
</html>